<div class="contenedor-formularios">
  <h1>Iniciar Sesión</h1>
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="contenido-tab">
    <div class="contenedor-input">
      <input id="correo_electronico" formControlName="correo_electronico" type="email" required placeholder="correo@gmail.com"/>
    </div>
    <div class="contenedor-input">
      <input id="contrasena" formControlName="contrasena" type="password" required placeholder="contrasena" />
    </div>
    <button type="submit" class="button button-block">Iniciar Sesión</button>
  </form>
  <button (click)="navigateToRegister()" class="button button-block" style="margin-top: 20px;">Registrar</button>
</div>
