<div class="contenedor-formularios">
  <h1>Iniciar Sesión</h1>
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="contenido-tab">
    <div class="contenedor-input">
      <label for="correo_electronico">Correo Electrónico<span class="req">*</span></label>
      <input id="correo_electronico" formControlName="correo_electronico" type="email" required />
    </div>
    <div class="contenedor-input">
      <label for="contrasena">Contraseña<span class="req">*</span></label>
      <input id="contrasena" formControlName="contrasena" type="password" required />
    </div>
    <p class="forgot"><a href="#">¿Olvidaste tu contraseña?</a></p>
    <button type="submit" class="button button-block">Iniciar Sesión</button>
  </form>
  <button (click)="navigateToRegister()" class="button button-block" style="margin-top: 20px;">Registrar</button>
</div>

