* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #e6f2ff;
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
  color: #2ecc71;
  transition: 0.3s ease;
}
a:hover {
  color: #27ae60;
}

.contenedor-formularios {
  background: rgba(19, 35, 47, 0.75);
  backdrop-filter: blur(10px);
  padding: 40px;
  max-width: 500px;
  margin: 50px auto;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

h1 {
  text-align: center;
  color: #fff;
  font-weight: 300;
  margin-bottom: 30px;
}

.contenedor-input {
  position: relative;
  margin-bottom: 35px;
}

label {
  position: absolute;
  top: 10px;
  left: 15px;
  color: rgba(255, 255, 255, 0.6);
  pointer-events: none;
  transition: 0.3s ease;
  font-size: 16px;
}

label .req {
  color: #1ab188;
}

input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid rgba(160, 179, 176, 0.6);
  background-color: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.95);
  font-size: 16px;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.3s ease;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

input:focus {
  border-color: #1ab188;
  background-color: rgba(255, 255, 255, 0.1);
}

.button {
  display: inline-block;
  width: 100%;
  padding: 14px;
  font-size: 18px;
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  background-color: #27ae60;
  transform: scale(1.03);
}

.forgot {
  text-align: right;
  margin-top: -15px;
  margin-bottom: 20px;
  font-size: 14px;
}

@media screen and (max-width: 500px) {
  .contenedor-formularios {
    padding: 30px 20px;
  }
}
